<%- include('partials/header'); -%>
   <h1>
     <center>  Compose </center>
   </h1>
   <form class="" action="/compose" method="post">
    <div class="form-group" > <center><label> <h3> Title</h3></label><input class="form-control" type="text" name="postTitle">
        <label> <h3> Post</h3></label>
        <textarea class="form-control" name="postBody" id="" cols="10" rows="6"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name = "button"> Publish </button> </center>    
   </form>
   
<%- include('partials/footer'); -%>
