<%- include('partials/header'); -%>
<div class = "container-fluid">
    <h3 class="hii">Hiii... It's me </h3><br><h1>Matin Ahmed</h1>

<h3>
    <center>  Welcome to my personal website! </center>
</h3>
<p> <%= starting %> </p>
</div>
<%- include('partials/footer'); -%>
