<%- include('partials/header'); -%>
    <div class = "container-fluid">
    <h1 class = cvh1>Matin Ahmed</h1>
    <p class = address><button type="button" class="btn btn-outline-info">Address</button> | <button type="button" class="btn btn-outline-danger">Gmail</button> | <button type="button" class="btn btn-outline-success">Contact</button> | <button type="button" class="btn btn-outline-dark">GitHub</button> | <button type="button" class="btn btn-outline-primary">LinkedIn</button></p>
    <hr>
    <center> <h3>About Me</h3> </center>
  <p>Unleashing the power of data - that's my passion! As a Python expert, I'm skilled in a range of areas, from SQL and Linux to Machine Learning, Deep Learning, Data Modeling, Dimension Modeling, Building ETL pipeline, and cloud computing. My exciting projects, such as Extreme Rainfall Prediction and Stock Data Analysis, demonstrate my expertise in advanced data techniques and tools. As a former intern at the Indian Institute of Tropical Meteorology, I have a keen understanding of climate change's impact on extreme rainfall events. I've also completed a comprehensive course in Modeling and Simulation, which includes machine learning, deep learning, data mining, and data visualization. If you want to join me in exploring the endless possibilities of data, take a peek at my GitHub profile to learn more about my experiences and projects.</p>
  
  </section>
    <h2> <center> My Skills </center> </h2>
  <center>
    <div class="row">
      <div class="col-4"><a href="">
        <img src="/programming.png" alt="programming" width="80" height="80">
      </a> <br>  Python, SQL, NoSQL</div>
      <div class="col-4"><a href="">
        <img src="/analysis.png" alt="programming" width="80" height="80">
      </a> <br> Pandas, NumPy,
      Matplotlib, Seaborn, Xarray, Tableu</div>
      <div class="col-4" ><a href="">
        <img src="/artificial-intelligence.png" alt="programming" width="80" height="80">
      </a> <br> Machine-learning, Deep-learning, Scikit-Learn, Keras, TensorFlow</div>
    </div>
    <div class="row">
      <div class="col-4"><a href="">
        <img src="/terminal.png" alt="programming" width="80" height="80">
      </a> <br> Linux, Git, Jupyter
      Notebook, Anaconda, Docker</div>
      <div class="col-4"><a href="">
        <img src="/cloud-storage.png" alt="programming" width="80" height="80">
      </a> <br> AWS (S3, EC2,
      Lambda, Glue, Athena, QuickSight)</div>
      <div class="col-4"></div>
    </div> </center>
    <hr>
    <h2>Projects</h2>
    
    <hr>
    <h2>Internship</h2>
    <hr>
    <h2>Education</h2>
    <hr>
    </div>
<%- include('partials/footer'); -%>
